@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
.theme-light {
  --color-primary: #86c2dd;
  --color-secondary: #f3f3f5;
  --color-tertiary: #e7e7e7;
  --color-accent: #bb026e;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #101a24;
  --color-secondary: #192734;
  --color-tertiary: #22303c;
  --color-accent: #f0627a;
  --font-color: #ffffff;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.about-item {
  display: flex;
}
#avatar {
  width: 210px;
  z-index: 1;
  margin-top: -75px;
  padding-top: 300px;
}

.about-div {
  text-align: justify;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.45;
}

h1 {
  font-size: 48px;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4.5s steps(70), blink-caret 0.75s infinite;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 16px 0;
}

h4,
h5 {
  margin-bottom: 0;
}

#box {
  width: 70%;
  display: inline-block;
  padding: 0 15%;
}

.cicon {
  width: 30px;
}

.cicon:hover {
  width: 50px;
}
.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 900px;
}
.btn {
  display: inline-block;
  color: var(--font-color);
  font-weight: 500;
  font-size: 20px;
  background: var(--color-accent);
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background: #ee327a;
}

#cover {
  width: 100%;
  object-fit: fill;
}

/*DropDown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(3, 26, 26);
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: #f0627a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.features {
  background: var(--color-tertiary);
  color: var(--font-color);
}
.feature {
  width: 32%;
  display: inline-block;
  font-size: 16px;
}
.feature img {
  width: 40%;
}

/* P R O J E C T S */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.heading-date {
  font-size: 9px;
  margin: 0;
  color: #62bce6;
}

.heading-info {
  padding: 0 10%;
  display: block;
}

.heading-text {
  padding: 0px 15px;
  display: inline-block;
}

#info-links {
  float: none;
  display: inline;
}

#info-nav {
  text-align: center;
}

#landing {
  color: var(--font-color);
  background-color: var(--color-primary);
  padding: 80px 0;
  text-align: center;
}

#logo {
  float: left;
  margin: 0;
  margin-left: 50px;
  display: flex;
  width: 60px;
}

#project-icon {
  display: inline-block;
}
section {
  text-align: center;
  padding: 40px 0;
}

#svg-icon {
  width: 20px;
}

.tag {
  display: inline-block;
  text-align: center;
  margin-bottom: 2px;
  text-decoration: none;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  color: #f0627a;
  padding: 5px 5px;
  font-size: 12px;
}

#my-name {
  color: #f0627a;
}

.quote {
  background: var(--color-secondary);
  color: var(--font-color);
  text-align: left;
}

.icon {
  width: 50px;
}

blockquote {
  margin: 0;
  padding: 0;
  text-align: center;
}
blockquote p {
  margin: 0 0 5px 0;
  font-size: 24px;
}
blockquote cite {
  font-size: 16px;
  font-style: italic;
}
blockquote cite:before {
  content: "–";
  margin-right: 5px;
}
footer {
  background: var(--color-primary);
  padding: 32px 0;
  text-align: center;
  color: var(--font-color);
  font-size: 12px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li {
  display: inline-block;
}
footer li a {
  padding: 6px;
  font-size: 14px;
  text-decoration: none;
  color: #c3c3c3;
}

@media screen and (min-width: 480px)  and (max-width: 480px) {
  #avatar {
    width: 130px;
    z-index: 1;
    margin-top: -75px;
    padding-top: 160px;
  }

  .btn {
    display: block;
    font-size: 18px;
  }
  h1 {
    margin: 0 0 8px 0;
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  section {
    padding: 25px 0 15px 0;
  }

  .feature {
    width: 100%;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 16px;
    display: flex;
  }
  .feature img {
    width: 15%;
    min-width: 60px;
    margin-right: 20px;
  }

  .icon {
    width: 50px;
  }

  .quote {
    padding: 30px 0;
  }
  blockquote p {
    font-size: 18px;
  }
  blockquote cite {
    font-size: 14px;
  }
  footer {
    padding: 30px 0 10px 0;
  }
  footer li {
    display: block;
    margin: 5px 0;
  }
  h1 {
    font-size: 12px;
  }
}

.fas,
.far {
  color: #f0627a;
}

header {
  margin: 0;
  height: auto;
}

#nav {
  display: inline;
  background-color: var(--color-primary);
}

.nav_icon {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#profile-pic {
  width: 25px;
}
#title {
  font-size: medium;
}
/* ToolTips*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  font-size: x-small;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

ul {
  display: flex;
  float: right;
  margin: 0;
  height: 30px;
}

ul li {
  display: inline;
  padding-right: 20px;
  list-style: none;
  text-align: center;
}

:last-child ul {
  margin-right: 50px;
}

ul li a {
  text-decoration: none;
  padding: 0 50x;
  display: block;
}

@media screen and (min-width: 470px){
  
}

@media screen and (max-width: 270px){
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 12px;
  }
  #logo {
    float: left;
    margin: 0;
    margin-left: 20px;
    display: flex;
    width: 40px;
  }
  #profile-pic {
    width: 15px;
  }
  .navIco {
    font-size: 1em;
  }
  #nav {
    display: flex;
  }
  .fa-bars {
    font-size: 1em;
  }
  :last-child ul {
    margin-right: 20px;
  }
  #title {
    font-size: x-small;
  }
  ul {
    padding-inline-start: 70px;
  }
  ul li {
    padding-right: 4px;
  }
  #landing {
    padding: 6px 0;
  }
}

@media screen and (min-width: 271px) and (max-width:347px){
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 12px;
  }
  #logo {
    float: left;
    margin: 0;
    margin-left: 20px;
    display: flex;
    width: 40px;
  }
  #profile-pic {
    width: 15px;
  }
  .navIco {
    font-size: 1em;
  }
  #nav {
    display: flex;
  }
  .fa-bars {
    font-size: 1em;
  }
  :last-child ul {
    margin-right: 20px;
  }
  #title {
    font-size: x-small;
  }
  ul {
    padding-inline-start: 70px;
  }
  ul li {
    padding-right: 4px;
  }
  #landing {
    padding: 6px 0;
  }
}

@media screen and (min-width: 480px)  and (max-width: 920px)  {
  h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 472px)  and (max-width: 593px)  {
  h1 {
    font-size: 18px;
  }
}

@media screen and (min-width: 328px)  and (max-width: 347px)  {
  ul li {padding-right: 5px;}
}

@media screen and (min-width: 300px)  and (max-width: 479px) {
  h1 {
    font-size: 15px;
  }
  .navIco {
    font-size: 1em;
  }
  ul li {padding-right: 15px;}
}
