/*
Styles are sorted alphabetically under these categories
1. TAGS
2. IDS
3. CLASSES
*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                   T  A G S 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  background-color: #222222;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}

h1 {
  font-family: Tahoma;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(70),
    blink-caret .75s infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 38% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

h4 {
  text-align: center;
}

footer {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 20px;
  background-color: rgb(24, 27, 27);
}

/*Style Select*/

ul {
  display: flex;
  float: right;
  margin: 0;
  height: 30px;
}

ul li {
  display: inline;
  padding-right: 20px;
  list-style: none;
  text-align: center;
}

:last-child ul {
  margin-right: 50px;
}

ul li a {
  text-decoration: none;
  padding: 0 50x;
  display: block;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                   I D s 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#avatar {
  width: 200px;
}

#container {
  display: grid;
  grid-template-rows: 1fr 8fr 9fr 1fr;
  grid-gap: 10px;
}

#gallery{
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 160px 160px 160px;
  grid-gap: 10px;
}

#info {
  display: grid;
  grid-template-columns: 35% 30% 20%;
  grid-gap: 10px;
}



#info-links{
  float: none;
  display: inline;
}

#info-nav{
  text-align: center;
}

#input {
  width: 20%;
  color: white;
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(133, 139, 139);
  border: none;
  padding: 15px 5px;
  border-radius: 25px;
  background: rgba(224, 214, 214, 0.1);
}

#logo {
  float: left;
  margin: 0;
  margin-left: 50px;
  display: flex;
  width: 60px;
}

#main {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#nav {
  display: inline;
  background-color: rgb(24, 27, 27);
}

#profile-pic{
  width:25px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             C L A S S E S
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.box {
  background: rgb(24, 27, 27);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(58, 50, 50, 0.3);
  padding: 20px;
}

.button {
  color: #fff;
  display: inline;
  border: none;
  padding: 5px 5px;
  border-radius: 25px;
  background: rgb(61, 223, 12);
}



.content {
  
  margin-bottom: 1px;
  margin-right: 1px;
}

.description {
  display: flex;
}

/*DropDown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  rgb(24, 27, 27);
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fas,
.far {
  color: white;
}

.icon {
  width: 50px;
}

.info-item:hover{
  background: rgb(24, 27, 27); 
  padding: 15px;
}

.item {
  display: block;
  align-items: center;
  border-bottom: 3px solid #a70972;
}



.nav_icon {
  margin: 0;
  padding-top:10px ;
  padding-bottom: 10px;
}


.project-snap {
  text-align: center;
}

.tag {
  display: inline;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #222222;
  color: #fff;
  padding: 5px 5px;
}


/* ToolTips*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  font-size: x-small;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;


  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*Responsivenes*/
@media screen and (max-width: 600px) {
  
}


